body {
    background-color: lightgrey;
}

/* container for entire calculator and everything it contains*/

.container {
    margin-top: 100px;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    background-color: #363636;
}

/*grid that contains the buttons*/

.grid {
    margin-top: 30px;
    width: 250px;
    display: inline-grid;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: end
}

/* text area for calculation results*/

output {
    display: block;
    width: 200px;
}

.previous-operand {
    font-size: 1.325rem;
    font-weight: 400;
    text-align: right;
    color: white;
    width: 220px;
}

.current-operand {
    width: 220px;
    font-size: 1.625rem;
    font-weight: 600;
    text-align: right;
    color: white;
}

.display {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 220px;
    /* height: 5.5rem; */
    border: 0px;
    background: #3B3B3B;
    border-radius: 0.725rem;
    padding: 0.65rem;
    box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
    outline: none;
}

/*all buttons*/

button {
    background-color: #999b99;
    height: 50px;
    width: 50px;
    padding: 1px;
    border-radius: 30px;
}

/*padding so the buttons separate*/

.line1 {
    padding: 1px;
    width: 214px;
}

.line2 {
    padding: 1px;
}

.line3 {
    padding: 1px;
}

.line4 {
    padding: 1px;
}

.line5 {
    padding: 1px;
}

.line5 button {
    width: 104px;
}